# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, coverage
*.test
*.out
coverage.out

# Go workspace files
go.work
go.sum

# Dependency directories
/vendor/

# Editor directories and files
.idea/
.vscode/
*.swp
*.swo
*.DS_Store

# Logs
*.log
